#listSelection {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5em;
    --lightGrey: rgb(97, 97, 97);
    --transitionDuration: 0.3s;
}

#listSelection ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#listSelection h1 {
    text-align: center;
}

#listSelection button:focus {
    outline: none;
}

#listSelection h2 {
    margin-top: 2em;
}

/* List Items */

    ul li {
        margin: 1em 0;
        background-color: #f1f1f1;
        border-radius: 0.2rem;
        padding: 0.8em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    /* head */

        ul li .head {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        #listSelection ul li .head span:nth-of-type(2) {
            font-size: 0.6em;
            color: var(--lightGrey);
        }

        #listSelection ul li .head button {
            transition: var(--transitionDuration);
        }

        #listSelection ul li .head button.good {
            width: 5em;
        }

        #listSelection ul li .head button.good.attachLoaderIcon {
            color: transparent;
        }
        
        #listSelection ul li .head button.good.attachLoaderIcon::after {
            border-color: white;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }


    /* body */
        
        #listSelection ul li .body {
            font-size: 0.9em;
            width: 100%;
            color: var(--lightGrey);
            overflow: hidden;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            transition: var(--transitionDuration);
            margin: 0;
            opacity: 0;
            max-height: 0;
        }

        #listSelection ul li .body p {
            transition: var(--transitionDuration);
            margin: 0 0.5em;
        }

        #listSelection ul li .body span:nth-of-type(1) {
            font-weight: 700;
            margin-right: 0.5em;
        }

        #listSelection ul li .body button.danger {
            align-self: flex-end;
        }

/* End of List Items */



#listSelection #addList {
    margin: 1em 0;
    background-color: #f1f1f1;
    border-radius: 0.2rem;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#listSelection #addList button {
    width: 5em;
}

#listSelection #addList > * {
    margin: 0.5em;
}

select {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0.5em 2em 0.5em 0.8em;
    border: 0.2em solid transparent;
    border-radius: 0.25rem;
    flex-grow: 2;
}

select:focus {
    outline: none;
    border-color: #333;
}

option {
    padding: 0.5em;
}

option[value="0"] {
    color: rgb(97, 97, 97);
}

#addList input[type="text"] {
    flex-grow: 4;
}
#addList input[type="url"] {
    flex-grow: 8;
}

#addList input[type="url"], #addList input[type="text"] {
    padding: 0.5em 0.8em;
    background-color: white;
    border-radius: 0.25rem;
    border: none;
    border: 0.2em solid transparent;
    font-family: 'Raleway', sans-serif;

    transition: 0.3s;
    color: #333;
}

#addList input[type="url"]:focus, #addList input[type="text"]:focus {
    border-color: #333;
    outline: none;
}

.invalid {
    border: 0.2em solid crimson;
}



/*                              *

 *  Animations & Transitions    *
                                *
*/

#listSelection ul li.opened .body {
    max-height: 30em;
    opacity: 1;
    margin-top: 2em;
}

#listSelection ul li.opened .body p {
    margin: 0.5em;
}

#listSelection ul li.opened .head button.subtle {
    transform: rotate(90deg);
}