@font-face {
font-family: 'Noto Sans Regular';
src: url(fonts/NotoSansCJKsc-Regular.otf);
}
@font-face {
font-family: 'Noto Sans Light';
src: url(fonts/NotoSansCJKsc-Light.otf);
}


* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

a {
    font-family: 'Raleway', sans-serif;

}

main {
    width: 100vw;
}

[lang="zh"], [lang="jp"] {
    font-family: 'Noto Sans Regular';
}

#languageSelection {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 10% 0;

}

#languageSelection a:first-of-type {
    margin-right: 5em;
}

.highlightButton {
    padding: 0.8em 1em;
    font-size: 2em;
    border-radius: 50rem;
    background-color: crimson;
    color: white;
    transition: 0.2s;
    font-family: 'Open Sans', sans-serif;
}

.highlightButton:hover {
    background-color: rgb(240, 80, 112);
    color: rgb(255, 202, 212);
}


button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

button, input[type="submit"] {
    border: none;
}

#task {
    font-size: 1.7em;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

a.lowFocusButton {
    padding: 0.5em 1em 0.6em;
    background: #6194CE;
    font-weight: 900;
    border-radius: 5rem;
    margin-top: 2em;
    text-decoration: none;
}

a.lowFocusButton button {
    color: white;
    background: transparent;
}

#downloadIcon { 
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: url('../icons/download_icon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.7em;
    position: relative;
    top: 0.1em;
}

.moreInfo {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;

    transition: 0.2s;

    overflow: hidden;
    font-size: 0.8em;
    background: rgb(231, 243, 255);
    color: #6194CE;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3rem;
    display: flex;
    flex-flow: column nowrap;
    border-top-right-radius: 0;
    line-height: 1.7em;
}

.moreInfo.active {
    max-height: 50em;
    opacity: 1;
    padding: 1em;
}

i {
    font-style: normal;
}
